<form [formGroup]="myForm" (submit)="handleOnSubmit()">
  <table>
    <tr>
      <td>
        <label>First Name: </label>
      </td>
      <td>
        <input type="text" formControlName="firstName" />
        <div
          style="color:'red'"
          *ngIf="
            myForm.get('firstName')?.invalid && myForm.get('firstName')?.touched
          "
        >
          First Name is required
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label>Last Name: </label>
      </td>
      <td>
        <input type="text" formControlName="lastName" />
        <div
          style="color:'red'"
          *ngIf="
            myForm.get('lastName')?.invalid && myForm.get('lastName')?.touched
          "
        >
          Last Name is required
        </div>
      </td>
    </tr>
    <tr>
      <td>Address:</td>
      <td>
        <div formArrayName="address">
          <div *ngFor="let a of address.controls; let i = index">
            <input type="text" [formControlName]="i" />
            <button type="button" (click)="addAddress()">+</button>
          </div>
        </div>

        <!-- <div formArrayName="addresses">
          <div
            *ngFor="let address of addresses.controls; let i = index"
            [formGroupName]="i"
          >
            <input type="text" formControlName="address" />
            <button type="button" (click)="addAddress()">+</button>
          </div>
        </div> -->
      </td>
    </tr>
  </table>

  <button type="submit">Submit</button>
</form>
